.forgot-password-container {
  display: flex;
  height: 100vh;
  background-color: #ffffff;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.image-section img {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}

.form-section {
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #ffffff;
}

.form-wrapper {
  width: 100%;
  max-width: 400px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
}

.form-wrapper h1 {
  font-size: 2.2em;
  color: #123524;
  margin-bottom: 15px;
}

.form-wrapper p {
  color: #757575;
  margin-bottom: 20px;
  font-size: 1.1em;
}

.form-group {
  margin-bottom: 18px;
  text-align: left;
  position: relative;
}

.form-group label {
  display: block;
  font-size: 1em;
  color: #123524;
  margin-bottom: 8px;
  font-weight: 600;
}

.form-group input {
  width: 100%;
  padding: 10px 12px;
  font-size: 1em;
  border: 1px solid #cccccc;
  border-radius: 6px;
  background-color: #fafafa;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  border-color: #445d48;
  outline: none;
}

.reset-button {
  width: 100%;
  background-color: #445d48;
  color: white;
  border: none;
  padding: 10px 18px;
  font-size: 1em;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 12px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.reset-button:hover {
  background-color: #47663b;
  transform: translateY(-3px);
}

.login-link {
  margin-top: 18px;
  font-size: 1em;
  color: #123524;
}

.login-link a {
  color: #47663b;
  text-decoration: none;
  font-weight: 500;
}

.login-link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .image-section {
    display: none;
  }

  .form-section {
    flex: 1;
    padding: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .form-wrapper {
    padding: 15px;
    box-shadow: none;
  }
}
