
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(54, 94, 50, 0.8);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid #faf1e6;
}

.navbar-brand {
  margin: 0;
}

.navbar-brand h1 {
  color: #e4efe7;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.logo-link {
  text-decoration: none;
  color: inherit;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.hamburger .bar {
  width: 30px;
  height: 4px;
  background-color: #faf1e6;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Navbar Links */
.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 12px;
  color: #e4efe7;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.navbar-links li:hover {
  color: #faf1e6;
  transform: translateY(-3px);
}

.navbar-links li .fa {
  font-size: 18px;
}

.profile-dropdown {
  position: relative;
}

.profile-button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: #ffffff;
  color: #064420;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.profile-button:hover {
  background-color: #f0f0f0;
  transform: translateY(-3px);
}

.profile-icon {
  font-size: 18px;
}

/* Dropdown Menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 180px;
  padding: 10px 0;
  z-index: 100;
}

.dropdown-menu li {
  padding: 10px 20px;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-menu li:hover {
  background-color: #1d562b;
}

.dropdown-menu li .fa {
  font-size: 18px;
  margin-right: 10px;
}



.notification-button {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  font-size: 1.5rem;
  margin-right: 20px;
}

.notification-icon {
  color: #333;
}

.notification-icon:hover {
  color: #1e5621;
}

.notification-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff3b30;
  color: #fff;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(50%, -50%);
}


/* Mobile Responsiveness */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    background-color: #064420;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 20px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links li {
    margin: 15px 0;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
  }
}

.green {
  color: #fde5d4;
}

.credit {
  color: #ffffff;
}
