.navbar{
    background-color: #1a4d2e;
    
}
.navbar-container {
  /* position: fixed; */
    padding-left: 47%;
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 100%;
  }
  ul {
    padding-left: 3000px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  li {
    font-synthesis: none;
    font-kerning: none;
    font-variant-ligatures: none;
    font-feature-settings: "kern" 0, "calt" 0, "liga" 0, "clig" 0, "dlig" 0, "hlig" 0;
    font-family: YAFdJt8dAY0-0, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: right;
    float: left;

  }
  
  li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color: #ebe8e8;
  }

  @media screen and (max-width: 960px) {
    .menu-icon {
      display: flex;
    }
  
    .nav-menu {
      
    }
  
    .nav-menu.active {
      
    }
  
    .nav-item {
      
    }

    .navbar-container{
      display: none;
    }

    .navbar{
      height: 20vh;
    }
    
    .mobile-navbar{
      display: block;
    }
  }

  .mobile-navbar{
    display: none;
  }